<h1>Pandas Intro</h1>

In [2]:
import pandas as pd

<p>An Empty Series</p>

In [3]:
my_series = pd.Series()
print(my_series)

Series([], dtype: object)

In [4]:
import numpy as np

In [5]:
my_array = np.array([10, 20, 30, 40, 50])
my_series = pd.Series(my_array)

print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

<p>Custom Indices</p>

In [6]:
my_series = pd.Series(my_array, index=["num1", "num2", "num3", "num4", "num5"])
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int64

<p>Passing Indices on series definition</p>

In [7]:
my_series = pd.Series([10, 20, 30, 40, 50], index=(["num1", "num2", "num3", "num4", "num5"]))
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int64

<p>Defining A Series Using Scalar Values</p>

In [9]:
my_series=pd.Series(25, index=(["num1", "num2", "num3", "num4", "num5"]))
print(my_series)

num1    25
num2    25
num3    25
num4    25
num5    25
dtype: int64

<p>Defining a series using a dictionary</p>

In [10]:
my_dict = {
    "num1": 6,
    "num1": 7,
    "num1": 8
}

my_series = pd.Series(my_dict)
print(my_series)

num1    8
dtype: int64

<p>Finding the Min and Max values in a series</p>

In [11]:
import pandas as pd
my_series = pd.Series([1, 2, 3, 4, 5])

print("Series Min")
print(np.min(my_series))
print("Series Max")
print(np.max(my_series))

Series Min
1
Series Max
5

<p>The Mean in a series</p>

In [13]:
print(my_series.mean())
print(np.mean(my_series))

3.0
3.0

<p>Finding the Median of a series</p>

In [15]:
print(my_series.median())
print(np.median(my_series))

3.0
3.0

<p>Finding the data type of a series</p>

In [16]:
print(my_series.dtype)

int64

<p>Converting a pandas series to a list</p>

In [17]:
print(my_series.tolist())

[1, 2, 3, 4, 5]

<h2>Pandas DataFrame</h2>

<p>Empty DataFrame</p>

In [18]:
my_df = pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

<p>Creating a Dataframe using a 2D list</p>

In [19]:
import pandas as pd
scores = [
    ["Mathematics", 85],
    ["English", 91],
    ["History", 95]
]

my_df = pd.DataFrame(scores, columns=["Subject", "Score"])
my_df

       Subject  Score
0  Mathematics     85
1      English     91
2      History     95

<P>Create a Dataframe using dictionaries</P>

In [20]:
scores = {
    'Subject': ["Mathematics", "History", "English", "Science", "Arts"],
    'Score': [98, 75, 68, 82, 99]
}

my_df = pd.DataFrame(scores)

print(my_df)

       Subject  Score
0  Mathematics     98
1      History     75
2      English     68
3      Science     82
4         Arts     99